<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>平台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {#    图表所用到的js统一放在一个文件中  还有需要的css  #}
{#        <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">#}
{#        <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>#}
{#	    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>#}
{#	    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>#}
        <script src="../../static/HighCharts/highcharts.js"></script>
        <script src="../../static/HighCharts/exporting.js"></script>
        <script src="../../static/HighCharts/highcharts-zh_CN.js"></script>
{#        <script src="../../static/HighCharts/export-data.js"></script>#}
{#        <script src="../../static/HighCharts/accessibility.js"></script>#}
{#        <link rel="stylesheet" type="text/css" href="../../static/css/highcharts.css">#}

        <link rel="stylesheet" type="text/css" href="../../static/css/nav.css">
        <link rel="stylesheet" type="text/css" href="../../static/font/iconfont.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/body_nav.css">

        {#   中间的表格显示部分     #}
        <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
{#        <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>#}
        <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
        <script src="../../static/bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="../../static/js/ManagementPlatform.js"></script>
        <script type="text/javascript" src="../../static/js/nav.js"></script>

    </head>
<body>
    <div class="body_con">
        <div class="body_top">
{#            头部#}

            <div class="mytext">
                <img style="width: 400px; height: 80px;" src="../../static/img/PlatLogo.png">
                <a class = "font-big">欢迎【{{ username }}】用户&nbsp;&nbsp;</a>
                <a href="/login/" type="button" class = "font-big"><b>登录</b>&nbsp;&nbsp;</a>
                <a href="/logout/" type="button" class = "font-big" ><b>注销</b></a>
            </div>
        </div>
        <div class="body_left">
            <div class="nav">
                <div class="nav-top">
                    <div style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="../../static/img/mini.png" ></div>
                </div>
                <ul>
                    <li class="nav-item">
                        <a href="javascript:;"><i class="my-icon nav-icon icon_2"></i><span>工业设备</span><i class="my-icon nav-more"></i></a>
                        <ul>
                            <li><a type="button" id="floodlightShowBtn"><span>光照传感器</span></a></li>
                            <li><a type="button" id="temperatureShowBtn"><span>温度传感器</span></a></li>
                            <li><a type="button" id="humidityShowBtn"><span>湿度传感器</span></a></li>
                            <li><a type="button" id="atomPressShowBtn"><span>大气压力传感器</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>数据图表</span><i class="my-icon nav-more"></i></a>
                        <ul>
                            <li><a href="http://127.0.0.1:8000/floodlightSensorChart"><span>光照传感器</span></a></li>
                            <li><a href="http://127.0.0.1:8000/temperatureSensorChart"><span>温度传感器</span></a></li>
                            <li><a href="http://127.0.0.1:8000/humiditySensorChart"><span>湿度传感器</span></a></li>
                            <li><a href="http://127.0.0.1:8000/atomPressSensorChart"><span>大气压力传感器</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;"><i class="my-icon nav-icon icon_1"></i><span>系统管理</span><i class="my-icon nav-more"></i></a>
                        <ul>
                            <li><a href="http://127.0.0.1:8000/admin/auth/user/"><span>用户管理</span></a></li>
                            <li><a href="http://127.0.0.1:8000/admin/"><span>后台管理</span></a></li>
                            <li><a href="http://127.0.0.1:8000/admin/password_change/"><span>修改密码</span></a></li>
                            <li><a href="http://127.0.0.1:8000/admin/auth/user/add/"><span>添加用户</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="body_right">
            <br/>
            <a id="addSensor" type="button" class="btn btn-success pull-right">添加设备</a>
            <br/>

            <hr>

            <div>
                <table id="monitorTable" class="table table-striped" align="left">
                    <thead>
                        <tr>
                            <th class="text-left" style="width:5%">序号</th>
                            <th class="text-center" style="width:15%">设备名</th>
                            <th class="text-center" style="width:15%">工作状态</th>
                            <th id="realTimeData" class="text-center" style="width:15%">实时数据</th>
                            <th class="text-center" style="width:15%">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {#   在这里填充所有设备的数据监测表  #}
                    </tbody>
                </table>
    {#            <a id="addSensor" type="button"><h5 style="#}
    {#            width: 98%;color: blue; font: 18px/1.5 '微软雅黑';"#}
    {#            ><b>添 加 设 备</b></h5></a>#}
            </div>
        </div>
    </div>

<!-- Bootstrap modal -->
<div class="modal fade" id="modal_form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">新建传感器</h3>
            </div>
            <div class="modal-body form" style="text-align:right;">
                <form action="#" id="form" class="form-horizontal">
                    <input type="hidden" value="webWrite" name="writeType"/>
                    <!-- 为了在服务器里的 共用的sensor数据处理函数 里区分post来自web端还是sensor端的而增加的 -->
                    <input type="hidden" value="" name="id"/>
                    <input type="hidden" value="" name="deviceStatus"/>
                    <input type="hidden" value="" name="temperature"/>
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">传感器名称：</label>
                            <div class="col-md-6">
                                <input name="sensorName" placeholder="输入传感器名称" class="form-control" type="text">
                            </div>
                            <br/>
                            <br/>
                            <label class="control-label col-md-3">传感器ID：</label>
                            <div class="col-md-6">
                                <input name="sensorID" placeholder="输入传感器ID" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </form>
                <button type="button" id="btnSave" class="btn btn-primary">确定</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
            <div class="modal-footer" id="controlDiv">
                <label class="control-label col-md-3">传感器控制：</label>
                <button type="button" id="btnControl" class="btn btn-danger">暂停监测</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- End Bootstrap modal -->
</body>
</html>


