<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>平台管理</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {#    图表所用到的js统一放在一个文件中  还有需要的css  #}
        <link rel="icon" href="https://static.jianshukeji.com/highcharts/images/favicon.ico">
{#        <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>#}
{#	    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>#}
{#	    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>#}
        <script src="../../static/HighCharts/highcharts.js"></script>
        <script src="../../static/HighCharts/exporting.js"></script>
        <script src="../../static/HighCharts/highcharts-zh_CN.js"></script>
{#        <script src="../../static/HighCharts/export-data.js"></script>#}
{#        <script src="../../static/HighCharts/accessibility.js"></script>#}
{#        <link rel="stylesheet" type="text/css" href="../../static/css/highcharts.css">#}

        <link rel="stylesheet" type="text/css" href="../../static/css/nav.css">
        <link rel="stylesheet" type="text/css" href="../../static/font/iconfont.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/body_nav.css">

        {#   中间的表格显示部分     #}
        <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
{#        <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>#}
        <script type="text/javascript" src="../../static/js/jquery.min.js"></script>
        <script src="../../static/bootstrap/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="../../static/js/ManagementPlatform.js"></script>
        <script type="text/javascript" src="../../static/js/nav.js"></script>

    </head>
<body>
    <div class="body_con">
        <div class="body_top">
        {#            头部#}
            <div class="left">
                <img style="width: 560px;" src="../../static/img/PlatLogo.png">
            </div>
            <div class="mytext">
                <a class = "font-big">欢迎【{{ username }}】用户&nbsp;&nbsp;</a>
                <a href="/login/" type="button" class = "font-big"><b>登陆</b>&nbsp;&nbsp;</a>
                <a href="/logout/" type="button" class = "font-big" ><b>注销</b></a>
            </div>
        </div>
        <div class="body_left">
            <div class="nav">
                <div class="nav-top">
                    <div style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="../../static/img/mini.png" ></div>
                </div>
                <ul>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:8000/"><i class="my-icon nav-icon icon_2"></i><span>返回管理平台</span><i class="my-icon nav-more"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>数据图表</span><i class="my-icon nav-more"></i></a>
                        <ul>
                            <li><a href="http://127.0.0.1:8000/floodlightSensorChart"><span>光照传感器</span></a></li>
                            <li><a href="http://127.0.0.1:8000/temperatureSensorChart"><span>温度传感器</span></a></li>
                            <li><a href="http://127.0.0.1:8000/humiditySensorChart"><span>湿度传感器</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:;"><i class="my-icon nav-icon icon_2"></i><span>系统管理</span><i class="my-icon nav-more"></i></a>
                        <ul>
                            <li><a href="http://127.0.0.1:8000/admin/auth/user/"><span>用户管理</span></a></li>
                            <li><a href="http://127.0.0.1:8000/admin/"><span>系统后台管理</span></a></li>
                            <li><a href="http://127.0.0.1:8000/admin/password_change/"><span>修改密码</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="body_right">
            <div style="text-align: center">
                <img src="../../static/img/ipv6_view.png">
            </div>
        </div>
    </div>
</body>
</html>
